In [30]:
import sqlite3

In [36]:
conn = sqlite3.connect('dbase')

In [37]:
curs = conn.cursor()#a cursor for submitting SQL statements to the database server

In [38]:
tblcmd = 'create table stud (name char(30), review char(10), Status char(10))'

In [39]:
curs.execute(tblcmd)

In [40]:
curs.execute('insert into stud values("Bob", "yes", "accepted")')

In [41]:
curs.rowcount

1

In [42]:
conn.commit()

In [43]:
curs.execute('select * from stud')

In [44]:
for row in curs.fetchall():
    print row

(u'Bob', u'yes', u'accepted')

In [45]:
#parameterized query
curs.execute('insert into stud values (?,?,?)',('Cathy','done','accepted'))

In [46]:
#Execute Many
curs.executemany('insert into stud values(?,?,?)',[('Raj',"notdone",'nil'),('Maria',"Ram", 'accepted')])

In [47]:
rows = [('John',"done",'rejected'),('silvia',"notdone",'nil')]
for row in rows:
    curs.execute('insert into stud values(?,?,?)', row)

In [48]:
curs.execute('select * from stud')
curs.fetchall()

[(u'Bob', u'yes', u'accepted'),
 (u'Cathy', u'done', u'accepted'),
 (u'Raj', u'notdone', u'nil'),
 (u'Maria', u'Ram', u'accepted'),
 (u'John', u'done', u'rejected'),
 (u'silvia', u'notdone', u'nil')]

In [49]:
curs.execute('select * from stud')
for row in curs.fetchall():
    print row

(u'Bob', u'yes', u'accepted')
(u'Cathy', u'done', u'accepted')
(u'Raj', u'notdone', u'nil')
(u'Maria', u'Ram', u'accepted')
(u'John', u'done', u'rejected')
(u'silvia', u'notdone', u'nil')

In [50]:
curs.execute('select * from stud')
names = [rec[0] for rec in curs.fetchall()]
names

[u'Bob', u'Cathy', u'Raj', u'Maria', u'John', u'silvia']

In [51]:
curs.execute('select * from stud')
for name,review,Status in curs.fetchall():
    print name,':',Status

Bob : accepted
Cathy : accepted
Raj : nil
Maria : accepted
John : rejected
silvia : nil

In [54]:
import sqlite3
conn = sqlite3.connect('dbase5')
curs = conn.cursor()
curs.execute('create table details (name char(30), age char(10), native char(10))')
file = open('data.txt')
rows = [line.rstrip().split(',') for line in file]
print(rows)
for rec in rows:
    curs.execute('insert into details values (?, ?, ?)', rec)
conn.commit()
curs.execute('select * from details')
print(curs.fetchall())
conn.close() # close, __del__ call rollback if changes not committed yet

[['Bob', '23', 'DVK'], ['Maria', '30', 'DVK'], ['Jo', '3', 'Chennai']]
[(u'Bob', u'23', u'DVK'), (u'Maria', u'30', u'DVK'), (u'Jo', u'3', u'Chennai')]

In [2]:
import sqlite3
conn = sqlite3.connect('dbase')

In [3]:
curs = conn.cursor()
cmd = "CREATE TABLE PERSON (P_Id int NOT NULL PRIMARY KEY, LastName char(40), FirstName char(40), Address char(40))"
curs.execute(cmd)

In [4]:
cmd = "CREATE TABLE Orders(O_Id int NOT NULL PRIMARY KEY,OrderNo int NOT NULL, P_Id int, FOREIGN KEY(P_Id) REFERENCES Person(P_Id))"

curs.execute(cmd)

In [22]:
curs2 = conn.cursor()
tblcmd = 'create table stud10 (Reg_No int NOT NULL PRIMARY KEY, StudName char(40), Sex char(40))'
curs2.execute(tblcmd)

In [23]:

tblcmd2 = 'create table Dept (Reg_No int ,dept_name char(40), FOREIGN KEY(Reg_No) REFERENCES stud5(Reg_No))'
curs2.execute(tblcmd2)

In [ ]:
#fetchone will fetch one row
#fetchmanycall returns a sequence of rows from the result, but not the entire table

In [25]:
curs2.executemany('insert into stud10 values(?,?,?)',[('1',"Moni",'F'),('2',"Ram", 'M'),('3',"Ram", 'M'),('4',"Ramu", 'M'),('5',"Seeta", 'F')])

In [26]:
curs2.executemany('insert into Dept values(?,?)',[('1',"CSE"),('2',"CSE"),('3',"IT"),('4',"IT"),('5',"It")])

In [27]:
curs2.execute('select a.Reg_No,a.StudName, b.dept_name from stud5 as a join Dept58 as b on a.Reg_No=b.Reg_No')

In [28]:
curs2.fetchall()

[(1, u'Moni', u'CSE'),
 (2, u'Ram', u'CSE'),
 (3, u'Ram', u'IT'),
 (4, u'Ramu', u'IT'),
 (5, u'Seeta', u'It')]

In [11]:
curs.execute('SELECT * FROM stud5 ORDER BY StudName DESC')

In [12]:
curs.fetchall()

[(5, u'Seeta', u'F'),
 (4, u'Ramu', u'M'),
 (2, u'Ram', u'M'),
 (3, u'Ram', u'M'),
 (1, u'Moni', u'F')]

In [13]:
curs.execute('select * from Dept58')

In [14]:
curs.fetchall()

[(1, u'CSE'), (2, u'CSE'), (3, u'IT'), (4, u'IT'), (5, u'It')]

In [15]:
curs.execute('select s.Reg_No,s.StudName,d.dept_name from stud5 s, Dept58 d where s.Reg_No=d.Reg_No')

In [18]:
curs.fetchall()

[]